// Default configuration for the live editor.

// Primary Colors
$le-color-primary: #48a0f4 !default
$le-color-primary-light: #84d1ff !default
$le-color-primary-dark: #0072c1 !default
$le-color-on-primary: #ffffff !default
$le-color-on-primary-light: #000000 !default
$le-color-on-primary-dark: #ffffff !default

// Secondary Colors
$le-color-secondary: #2c2c2c !default
$le-color-secondary-light: #555555 !default
$le-color-secondary-dark: #000000 !default
$le-color-on-secondary: #ffffff !default
$le-color-on-secondary-light: #ffffff !default
$le-color-on-secondary-dark: #ffffff !default

// Utility Colors
$le-color-error: #C71F25 !default
$le-color-warning: #D78528 !default
$le-color-back: #ffffff !default
$le-color-back-light: #fafafa !default
$le-color-back-dark: #f5f5f5 !default
$le-color-back-highlight: #e1fc8d !default
$le-color-back-error: $le-color-error !default
$le-color-back-warning: $le-color-warning !default
$le-color-oclude: rgba(0, 0, 0, .25) !default
$le-color-on-back: #000000 !default
$le-color-on-back-subtle: rgba($le-color-on-back, .25) !default
$le-color-on-back-light: #000000 !default
$le-color-on-back-dark: lighten($le-color-on-back-light, 15%) !default
$le-color-on-back-highlight: #000000 !default
$le-color-on-back-error: #ffffff !default
$le-color-on-back-warning: #ffffff !default
$le-color-on-oclude: #ffffff !default

// Typography
$le-font-family: 'Nunito Sans', sans-serif !default
$le-font-family-text: 'Rubik', sans-serif !default
$le-font-family-mono: "Roboto Mono", monospace !default
$le-font-size: 14px !default
$le-font-size-small: 12px !default
$le-font-size-icon: 18px !default
$le-font-size-icon-small: 14px !default
$le-font-size-icon-large: 22px !default
$le-line-height: 1.1 !default
$le-line-height-paragraph: 1.3 !default

// Spacing
$le-space-xxxsmall: 1px !default
$le-space-xxsmall: 2px !default
$le-space-xsmall: 4px !default
$le-space-small: 8px !default
$le-space-medium: 16px !default
$le-space-large: 32px !default
$le-space-xlarge: 64px !default
$le-space-xxlarge: 128px !default
$le-space-xxxlarge: 256px !default

// Blur
$le-blur-size: 3px !default

// Border Sizes
$le-border-size: 1px !default
$le-border-size-large: 2px !default
$le-border-size-xlarge: 3px !default
