@import 'config'

.live_editor
  background: $le-color-back
  display: flex
  flex-flow: column
  font-family: $le-font-family
  font-size: $le-font-size
  line-height: $le-line-height
  overflow: hidden

  *
    border-box

  p
    line-height: $le-line-height-paragraph

  .material-icons
    font-size: $le-font-size-icon
    vertical-align: middle


.live_editor__structure__header
  flex-grow: 0
  flex-shrink: 1

.live_editor__structure__panes
  display: grid
  flex-grow: 1
  overflow: hidden
  grid-template-columns: 40% 60%

  .live_editor--three-pane &
    grid-template-columns: 20% 40% 40%

@import './ui/modal'

@import './parts/content'
@import './parts/menu'
@import './parts/modals'
@import './parts/overview'
@import './parts/preview'
