:root
  --color-background: #ffffff
  --color-on-background: #121212

  --color-primary: #212121
  --color-on-primary: #ffffff

  --color-primary-light: #484848
  --color-on-primary-light: #ffffff

  --color-primary-dark: #000000
  --color-on-primary-dark: #ffffff

  --color-secondary: #00796b
  --color-on-secondary: #ffffff

  --color-secondary-light: #48a999
  --color-on-secondary-light: #ffffff

  --color-secondary-dark: #004c40
  --color-on-secondary-dark: #ffffff

  --color-tertiary: #eeeeee
  --color-on-tertiary: #000000

  --color-tertiary-light: #ffffff
  --color-on-tertiary-light: #000000

  --color-tertiary-dark: #bcbcbc
  --color-on-tertiary-dark: #000000

  --color-elevation-hover: 0 0 0 0 #cbd4db, 0 1px 8px 0 rgba(21, 7, 38, 0.088)

  @media (prefers-color-scheme: dark)
    --color-background: #121212
    --color-on-background: #f2f2f2

    --color-primary: #eeeeee
    --color-on-primary: #121212

    --color-primary-light: #bcbcbc
    --color-on-primary-light: #121212

    --color-primary-dark: #ffffff
    --color-on-primary-dark: #121212

    --color-secondary: #80cbc4
    --color-on-secondary: #121212

    --color-secondary-light: #4f9a94
    --color-on-secondary-light: #121212

    --color-secondary-dark: #b2fef7
    --color-on-secondary-dark: #121212

    --color-tertiary: #424242
    --color-on-tertiary: #ffffff

    --color-tertiary-light: #1b1b1b
    --color-on-tertiary-light: #ffffff

    --color-tertiary-dark: #6d6d6d
    --color-on-tertiary-dark: #ffffff
