{% import "/views/macros/asset.njk" as asset %}
{% import "/views/macros/button.njk" as button %}

<div class="hero {{partial.class}}">
    <div class="hero__content">
        {% if partial.title %}
            <div class="hero__content__title">
                {{partial.title}}
            </div>
        {% endif %}
        {% if partial.body %}
            <div class="hero__content__body">
                {{partial.body}}
            </div>
        {% endif %}
        {% if partial.buttons %}
            <div class="hero__content__buttons">
                {% for item in partial.buttons %}
                    {{button.button(item)}}
                {% endfor %}
            </div>
        {% endif %}
        {% if partial.assets %}
            <div class="hero__content__assets">
                {% for image in partial.assets %}
                    {{asset.asset(image)}}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>