.le__part__preview__toolbar
  align-items: center
  background-color: var(--color-primary-light)
  color: var(--color-on-primary-light)
  display: flex
  flex-flow: row
  flex-grow: 0
  justify-content: space-between

  a
    color: var(--color-on-primary-light)

.le__part__preview__toolbar__devices
  display: flex
  flex-flow: row
  font-size: $le-font-size-small
  font-weight: var(--font-weight-default)
  margin: $le-space-medium

.le__part__preview__toolbar__device
  margin: 0 $le-space-small

  &:hover,
  &--selected
    text-decoration: underline

.le__part__preview__toolbar__icons
  align-items: center
  display: flex
  flex-flow: row
  margin: 0 $le-space-medium

.le__part__preview__toolbar__icon
  &--toggle
    border-bottom: $le-border-size-large solid transparent

    &:hover:not(.le__actions__action--disabled),
    &.le__part__preview__toolbar__icon--selected
      border-bottom: $le-border-size-large solid var(--color-on-primary-light)

    &:hover.le__actions__action--disabled
      border-bottom: $le-border-size-large solid transparent

.le__part__preview__toolbar__label
  font-size: $le-font-size-small
  font-weight: var(--font-weight-bold)
  text-transform: uppercase
  margin: $le-space-medium
