.le__part__onboarding__github
  display: flex
  flex-flow: column
  flex-grow: 1

.le__part__onboarding__github__header
  margin-bottom: $le-space-medium
  padding: $le-space-medium

.le__part__onboarding__github__selection
  align-items: center
  display: flex
  flex-flow: row
  text-align: center
  justify-content: center
  margin-bottom: $le-space-medium
  margin-top: $le-space-medium

.le__part__onboarding__github__options
  flex-grow: 1
  height: 0
  overflow: auto
  padding: $le-space-medium

.le__part__onboarding__github__onboarding
  h2
    text-align: center


