.le__part__onboarding__github
  display: flex
  flex-flow: column
  flex-grow: 1
  height: 0
  overflow: auto

.le__part__onboarding__github__selection
  align-items: center
  display: flex
  flex-flow: row
  text-align: center
  justify-content: center
  margin-bottom: $le-space-medium
  margin-top: $le-space-medium

.le__part__onboarding__github__list
  margin-left: auto
  margin-right: auto
  max-width: $le-space-max-content-width
  padding: $le-space-medium
  width: 100%

.le__part__onboarding__github__login
  padding: $le-space-medium
  text-align: center

.le__part__onboarding__github__time
  margin-top: $le-space-small
  font-size: $le-font-size-small
