@import '../utils/config'
@import '../utils/type'

.footer
    background: var(--color-secondary-dark)
    color: var(--color-on-secondary-dark)
    padding: $le-space-medium

    a
        color: var(--color-on-secondary-dark)

.footer__content__links
    display: flex
    flex-flow: row
    flex-wrap: wrap
    column-gap: $le-space-medium
