@import '../utils/spacing'
@import '../utils/type'

.footer
    background: var(--color-secondary-dark)
    color: var(--color-on-secondary-dark)
    padding: $spacing-20

    a
        color: var(--color-on-secondary-dark)

.footer__content__links
    display: flex
    flex-flow: row
    flex-wrap: wrap
    column-gap: $spacing-20
