@import '../utils/spacing'
@import '../utils/type'

.header
    align-items: center
    display: flex
    justify-content: space-between
    padding: $spacing-20

.header__logo a
    display: flex

.header__logo img
    width: 200px

