.selective__example_field__expand
  color: $le-color-tertiary-dark
  font-size: $le-font-size-small

.selective__example_field__code
  border-left: $le-border-size-medium solid $le-color-primary
  font-family: $le-font-family-mono
  font-size: $le-font-size-small
  line-height: $le-line-height-paragraph
  padding: $le-space-small $le-space-medium