.live_editor__part__menu__header
  align-items: center
  background: $le-color-secondary
  color: $le-color-on-secondary
  display: flex
  flex-flow: row
  justify-content: space-between

.live_editor__part__menu__project
  flex-grow: 1
  overflow: hidden
  padding: $le-space-medium
  text-overflow: ellipsis
  white-space: nowrap

.live_editor__part__menu__actions
  align-items: center
  display: flex
  flex-flow: row

.live_editor__part__menu__action
  margin-right: $le-space-small

  &:first-child
    margin-left: $le-space-small

.live_editor__part__menu__section__header
  align-items: center
  color: $le-color-primary
  display: flex
  flex-flow: row
  font-size: $le-font-size-small
  justify-content: space-between
  text-transform: uppercase

.live_editor__part__menu__section__title
  padding: $le-space-medium
