.le__part__content__header
  align-items: center
  background-color: $le-color-tertiary
  color: $le-color-on-tertiary
  display: flex
  flex-flow: row
  justify-content: space-between

.le__part__content__header__sections
  display: flex
  flex-flow: row

.le__part__content__header__section
  padding: $le-space-medium
  border-bottom: $le-border-size-large solid transparent
  color: $le-color-secondary-light
  font-size: $le-font-size-small
  font-weight: 700
  text-transform: uppercase
  transition: opacity $le-speed-xslow

  &--disabled
    opacity: $le-opacity-disabled

  &:hover:not(.le__part__content__header__section--disabled)
    border-bottom: $le-border-size-large solid $le-color-secondary-light
    color: $le-color-secondary

  &--selected
    border-bottom: $le-border-size-large solid $le-color-secondary
    color: $le-color-secondary

  &--selected:hover
    border-bottom: $le-border-size-large solid $le-color-secondary-dark

.le__part__content__header__actions
  align-items: center
  display: flex
  flex-flow: row
  margin-right: $le-space-medium

  .le__loading
    margin-right: $le-space-medium

.le__part__content__header__action
  min-width: $le-space-xxlarge

.le__part__content__header__status
  &--error
    color: $le-color-extreme
    margin-right: $le-space-medium

  .material-icons
    font-size: $le-font-size-icon-large