.le__part__menu__footer
  align-items: center
  border-top: $le-border-size-medium solid var(--color-tertiary)
  display: flex
  flex-flow: row
  justify-content: space-between
  min-height: $le-space-large

.le__part__menu__footer__icons
  padding-left: $le-space-small
  padding-right: $le-space-small
