.le__part__onboarding
  display: flex
  flex-flow: column

.le__part__onboarding__help
  align-items: center
  background-color: var(--color-secondary)
  color: var(--color-on-secondary)
  display: flex
  flex-flow: row
  justify-content: center

  a
    color: var(--color-on-secondary)

.le__part__onboarding__help__message
  padding: $le-space-medium

@import './onboarding/header'

@import './onboarding/github'
@import './onboarding/local'