.le__part__preview
  display: flex
  flex-flow: column
  flex-grow: 1
  justify-content: stretch

.le__part__preview__message
  align-items: center
  display: flex
  flex-flow: row
  column-gap: $le-space-medium
  padding: $le-space-medium

@import './preview/frame'
@import './preview/toolbar'
