{% import "/views/macros/renderPartial.njk" as renderPartial with context %}

<!DOCTYPE html>
<html lang="{{doc.locale.id}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{doc.fields.title}}</title>
  <meta name="description" value="{{doc.fields.description}}">
  <meta name="color-scheme" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% block coreCss %}
    <link rel="stylesheet" href="{{pod.staticFile('/dist/css/main.css')|url}}">
  {% endblock %}
  {% if doc.fields.css -%}
    {% for file in doc.fields.css -%}
      <link rel="stylesheet" href="{{file|url}}">
    {%- endfor %}
  {%- endif %}
  <link rel="icon" type="image/png" sizes="256x256" href="{{pod.staticFile('/static/img/favicon-256.png')|url}}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{pod.staticFile('/static/img/favicon-128.png')|url}}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{pod.staticFile('/static/img/favicon-64.png')|url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{pod.staticFile('/static/img/favicon-32.png')|url}}">
</head>
<body>
  <script>
    // Prevent color flickering.
    const scheme = localStorage.getItem('live.scheme') || '';
    if (scheme !== '') {
      document.body.classList.add(`scheme-${scheme.toLowerCase()}`);
    }
  </script>
  <div
      class="container"
      data-mode="{{pod.env.name}}"
      data-port="{{doc.fields.config.port}}"
      data-service="{{doc.fields.config.service}}">
    {% block main %}
      <div class="main">
        {% set partial = pod.doc('/content/partials/header.yaml').fields %}
        {{renderPartial.renderPartial(partial)}}
        <content class="partials">
          {% if doc.fields.partials %}
            {% for partial in doc.fields.partials %}
              {{renderPartial.renderPartial(partial)}}
            {% endfor %}
          {% else %}
            <div class="main__body">
              {{doc.body|markdown|safe}}
            </div>
          {% endif %}
        </content>
        {% set partial = pod.doc('/content/partials/footer.yaml').fields %}
        {{renderPartial.renderPartial(partial)}}
      </div>
    {% endblock %}
  </div>
  {% block coreScript %}
    <script src="{{pod.staticFile('/dist/js/main.min.js')|url}}"></script>
  {% endblock %}
  {% if doc.fields.js -%}
    {% for file in doc.fields.js -%}
      <script src="{{file|url}}"></script>
    {%- endfor %}
  {%- endif %}
</body>
