.le__actions
  align-items: center
  display: flex
  flex-flow: row
  margin: 0 $le-space-medium

  &--slim
    margin: 0 $le-space-small

.le__actions__action
  margin-right: $le-space-small

  &--extreme
    color: $le-color-extreme

  &--warning
    color: $le-color-warning

  &:first-child
    margin-left: $le-space-small