=button-primary
  background-color: $le-color-primary
  border-color: $le-color-on-primary
  color: $le-color-on-primary

=button-primary-invert
  background-color: $le-color-on-primary
  border-color: $le-color-primary
  color: $le-color-primary

=button-secondary
  background-color: $le-color-secondary
  border-color: $le-color-on-secondary
  color: $le-color-on-secondary

=button-secondary-invert
  background-color: $le-color-on-secondary
  border-color: $le-color-secondary
  color: $le-color-secondary

=button-tertiary
  background-color: $le-color-tertiary
  border-color: $le-color-on-tertiary
  color: $le-color-on-tertiary

=button-tertiary-invert
  background-color: $le-color-on-tertiary
  border-color: $le-color-tertiary
  color: $le-color-tertiary

=button-extreme
  background-color: $le-color-back-error
  border-color: $le-color-on-back-error
  color: $le-color-on-back-error

=button-extreme-invert
  background-color: $le-color-on-back-error
  border-color: $le-color-back-error
  color: $le-color-back-error

=button
  background: transparent
  border: none
  border-radius: $le-radius-small
  font-weight: 700
  padding: $le-space-small
  transition: opacity $le-speed-xslow

  &:disabled
    opacity: $le-opacity-disabled

  &--primary
    +button-primary

    // Invert the button styling.
    &.le__button--on-primary
      +button-primary-invert

  &--secondary
    +button-secondary

    // Invert the button styling.
    &.le__button--on-secondary
      +button-secondary-invert

  &--tertiary
    +button-tertiary

    // Invert the button styling.
    &.le__button--on-tertiary
      +button-tertiary-invert

  &--extreme
    +button-extreme

    // Invert the button styling.
    &.le__button--on-extreme
      +button-extreme-invert

=button-outline
  border: $le-border-size-medium solid $le-color-secondary

=button-toggle
  margin-left: 0
  margin-right: 0
  border-radius: 0
  border-right: none

=button-toggle-first
  border-bottom-left-radius: $le-radius-small
  margin-left: $le-space-medium
  border-top-left-radius: $le-radius-small

=button-toggle-last
  border-bottom-right-radius: $le-radius-small
  border-right: $le-border-size-medium solid $le-color-secondary
  border-top-right-radius: $le-radius-small
  margin-right: $le-space-medium

.le__button
  +button
