.le__button
  background: transparent
  border: none
  border-radius: $le-radius-small
  font-weight: 700
  padding: $le-space-small
  transition: opacity $le-speed-xslow

  &:disabled
    opacity: $le-opacity-disabled

  &--primary
    background-color: $le-color-primary
    color: $le-color-on-primary

  &--secondary
    background-color: $le-color-secondary
    color: $le-color-on-secondary

    // The button is a secondary button on a secondary background.
    // Invert the button styling.
    &.le__button--on-secondary
      background-color: $le-color-on-secondary
      color: $le-color-secondary

  &--extreme
    background-color: $le-color-back-error
    color: $le-color-on-back-error
