.selective__field
  margin: $le-space-medium 0

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

  &--invalid
    > .selective__field__header
      color: $le-color-extreme

.selective__field__help
  color: $le-color-secondary-light
  font-size: $le-font-size-small
  margin-bottom: $le-space-small

.selective__field__errors
  margin: $le-space-small 0

.selective__field__label
  align-items: center
  display: flex
  flex-flow: row
  font-weight: 700
  margin-bottom: $le-space-small

  &--error
    color: $le-color-extreme

  > .selective__field__invalid
    margin-right: $le-space-small

.selective__field__actions
  align-items: center
  display: flex
  flex-flow: row

  .selective__action
    +clickable

    .material-icons
      padding: $le-space-small $le-space-medium

      .selective__field__header &
        padding: $le-space-small

.selective__action
  &[disabled]
    cursor: default
    opacity: $le-opacity-disabled

  &--delete
    color: $le-color-extreme

=field-input
  background: $le-color-tertiary
  color: $le-color-on-tertiary
  border: none
  box-shadow: 0 $le-border-size-medium 0 0 $le-color-secondary
  font-family: $le-font-family-text
  padding: $le-space-medium
  width: 100%

  &:focus
    outline: none
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-secondary-dark

  &:disabled
    opacity: .5

=field-input--error
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-extreme

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-extreme

=field-input--info
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-info

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-info

=field-input--warning
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-warning

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-warning

=field-section-heading
  color: $le-color-secondary-light
  font-size: $le-font-size-small
  text-transform: uppercase
  margin: $le-space-medium 0 $le-space-small 0

=field-action-icon
  background-position: left $le-space-small - $le-border-size-medium top $le-space-small - $le-border-size-medium
  background-repeat: no-repeat
  background-size: $le-font-size-icon
  padding-left: $le-font-size-icon + $le-space-medium

  .selective__field__header &
    background-position: left $le-space-xsmall top $le-space-xsmall
    padding-left: $le-font-size-icon + $le-space-small

=field-action-add
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-on-back)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>')

=field-action-add-primary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-primary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>')

=field-action-add-secondary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-secondary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>')

=field-action-add-secondary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-tertiary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>')

=field-action-remove
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-on-back)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>')

=field-action-remove-primary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-primary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>')

=field-action-remove-secondary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-secondary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>')

=field-action-remove-secondary
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{encodecolor($le-color-tertiary)}" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/></svg>')

.selective__action
  &--add
    +field-action-add

.selective__droppable__target
  position: relative

.selective__droppable--hover
  background: $le-color-primary-light
  color: $le-color-on-primary-light

  &::before
    background: $le-color-primary-dark
    background: linear-gradient(45deg, $le-color-primary-dark 0%, $le-color-primary 50%, $le-color-primary-light 100%);
    box-shadow: $le-shadow-small
    content: ''
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  &::after
    color: $le-color-on-primary-dark
    content: 'Drop file…'
    font-size: $le-font-size-large
    font-weight: 700
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%);

  // Pointer events cause issues with triggering extra drag events from children nodes.
  *
    pointer-events: none

.selective__field__input
  input[type=text],
  input[type=date],
  input[type=datetime-local],
  input[type=file],
  input[type=number],
  input[type=time],
  textarea
    +field-input

  textarea
    line-height: $le-line-height-paragraph

  &--error
    color: $le-color-extreme

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--error

  &--warning
    color: $le-color-warning

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--warning

  &--info
    color: $le-color-info

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--info

.selective__field__error
  color: $le-color-extreme

@import './field/checkbox'
@import './field/color'
@import './field/date'
@import './field/datetime'
@import './field/group'
@import './field/image'
@import './field/list'
@import './field/media'
@import './field/mediaList'
@import './field/number'
@import './field/select'
@import './field/text'
@import './field/textarea'
@import './field/time'
@import './field/variant'

// Amagaki project type fields.
@import './field/amagaki_partials'

// Grow project type fields.
@import './field/grow_partials'
