.selective__field
  margin: $le-space-medium 0

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

  &--invalid
    > .selective__field__header
      color: $le-color-extreme

.selective__field__help
  color: $le-color-secondary-light
  font-size: $le-font-size-small
  margin-bottom: $le-space-small

.selective__field__errors
  margin: $le-space-small 0

.selective__field__label
  align-items: center
  display: flex
  flex-flow: row
  font-weight: 700
  margin-bottom: $le-space-small

  &--error
    color: $le-color-extreme

  > .selective__field__invalid
    margin-right: $le-space-small

.selective__field__actions
  align-items: center
  display: flex
  flex-flow: row

  .selective__action
    +clickable

    .material-icons
      padding: $le-space-small $le-space-medium

      .selective__field__header &
        padding: $le-space-small

=field-input
  background: $le-color-tertiary
  color: $le-color-on-tertiary
  border: none
  box-shadow: 0 $le-border-size-medium 0 0 $le-color-secondary
  font-family: $le-font-family-text
  padding: $le-space-medium
  width: 100%

  &:focus
    outline: none
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-secondary-dark

  &:disabled
    opacity: .5

=field-input--error
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-extreme

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-extreme

=field-input--info
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-info

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-info

=field-input--warning
  color: inherit
  box-shadow: 0 $le-border-size-large 0 0 $le-color-warning

  &:focus
    box-shadow: 0 $le-border-size-xlarge 0 0 $le-color-warning

=field-section-heading
  color: $le-color-secondary-light
  font-size: $le-font-size-small
  text-transform: uppercase
  margin: $le-space-medium 0 $le-space-small 0

.selective__field__input
  input[type=text],
  input[type=date],
  input[type=datetime-local],
  input[type=file],
  input[type=number],
  input[type=time],
  textarea
    +field-input

  textarea
    line-height: $le-line-height-paragraph

  &--error
    color: $le-color-extreme

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--error

  &--warning
    color: $le-color-warning

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--warning

  &--info
    color: $le-color-info

    input[type=text],
    input[type=date],
    input[type=datetime-local],
    input[type=file],
    input[type=number],
    input[type=time],
    textarea
      +field-input--info

.selective__field__error
  color: $le-color-extreme

@import './field/checkbox'
@import './field/color'
@import './field/date'
@import './field/datetime'
@import './field/group'
@import './field/image'
@import './field/list'
@import './field/media'
@import './field/number'
@import './field/select'
@import './field/text'
@import './field/textarea'
@import './field/time'
@import './field/variant'
