.le__actions
  align-items: center
  display: flex
  flex-flow: row
  flex-wrap: nowrap
  column-gap: $le-space-xxsmall
  margin: 0 $le-space-medium

  &--slim
    margin: 0 $le-space-xsmall

.le__actions__action
  background: var(--action-background-color)
  border-radius: $le-radius-medium

  &:hover
    background: var(--action-background-hover-color)
    color: var(--color-on-action-background-hover-color)
